<div class="topnav" >
  
  <a routerLink="">Logout</a>
  <a routerLink="/employeedetails">+Employee</a>
  <a routerLink="/newbranch">+Branch</a>
  <a routerLink="/machinesetup">Machine Setup</a> 
  <a routerLink="/monthlyattendance">Attendance</a>

</div>

<!--{path:'employeedetails',component:AddEmployeeComponent},
{path:'newbranch',component:AddBranchComponent},
{path:'machinesetup',component: MachineSetupComponent },
{path:'monthlyattendance',component:MonthlyAttendanceComponent}-->


























<h2>COMPANY HOME PAGE</h2>
