.bg-img{
  //background-color: white;
  background-image: linear-gradient(#7579ff,#b224ef);
  //background-color: #cc66ff;
  //background-image: url("wallpaper2you_418363.jpg");
  min-height: 820px;
  margin-top:0px;
   /*Center and scale the image nicely*/ 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
#login{
    //background-image: url("2.jpg");
    margin-top: 70px;
    margin-left: 500px;
    margin-right: 500px;
    width: 400px;
    height: 600px;
    //border:solid;
    border-radius: 10px;
    //border-color:white;
    //border-width:2px;
    background-color:white;
    //background-image: linear-gradient(#b224ef,#7579ff);
    opacity: 0.85;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #head{
    text-align: center;
    color: black;
    //text-shadow: 2px 2px 4px grey;
    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 30px;
  
}
#username{
//border-bottom: 2px solid red;
}
input[type="text"] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    border-width: 2px;
    margin-left: 60px;
    margin-right: 60px;
    width: 270px;
    height: 50px;
    margin-top: 10px;
}
input[type="password"] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    border-width: 2px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    width: 270px;
    height: 50px;
}



.button {
  //background-color: #4CAF50; /* Green */
  background-image: grey;
  border-radius: 30px;
  border-color: inear-gradient(#7579ff,#b224ef);
  padding: 16px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:140px;
  margin-top:40px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
  background-color: white; 
  color: black; 
  border: 2px solid white;
}

.button:hover {
  background-color: #ccccff;
  color: black;
}

.register{
  margin-left: 300px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
input.placeholder {
  text-align: center;
}

//i{
//  margin-left: 30px;
//}

















body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color:#4d94ff;
    opacity: 0;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #595959;
    color:white;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }