<form class="bg-img">
<div class="topnav">
  <a routerLink="">Register</a>
  <a routerLink="">Login</a>
</div>


<div id="login" text-center>
   <br><br><br><br><br> <h5 id="head">LOGIN</h5>
  <input type="text" id="username" placeholder="Username" style="text-align:center">
  
  <input type="password" id="password" placeholder="Password" style="text-align:center">
  <button type="submit" class="button" (click)="onselect()" >Submit</button> <br>
  <a class="register" routerLink="/register">SIGN UP</a>
</div></form>