<div class="topnav">
  
  <a routerLink="/companyname">Home</a>

</div>




























<div class="ma">
  <h3 id="ctc">Employee Details</h3>
  <label for="empid" class="t-align">Employee ID:</label>
  <input type="text" id="empid" placeholder="Employee ID">

  <label for="name" class="t-align">Name:</label>
  <input type="text" id="name" placeholder="Name">

  <label for="designation" class="t-align">Designation:</label>
  <input type="text" id="designation" placeholder="Designation">

  <label for="branch" class="t-align">Branch:</label>
  <input type="text" id="branch" placeholder="Branch">

  <label for="department" class="t-align">Department:</label>
  <input type="text" id="department" placeholder="Department">

  <label for="" class="t-align">Shift:</label>
  <input type="text" id="" placeholder="Shift">

  <label for="address" class="t-align">Address:</label>
  <input type="text" id="address" placeholder="Address"><br>

  <label for="mail" class="t-align">E-Mail:</label>
  <input type="email" id="mail" placeholder="E-Mail">
  
  <label for="mob1" class="t-align">Mobile No1:</label>
  <input type="tel" id="mob1" placeholder="Mobile Number">

  <label for="mob2" class="t-align">Mobile No2:</label>
  <input type="tel" id="mob2" placeholder="Mobile Number">

  <label for="tel" class="t-align">Landline No:</label>
  <input type="tel" id="tel" placeholder="Landline Number">

  <label for="dob" class="t-align">DoB:</label>
  <input type="text" id="dob" placeholder="date of birth">

  <label for="bloodgrp" class="t-align">Blood Group:</label>
  <input type="text" id="bloodgrp" placeholder="Blood Group">

  <label for="" class="t-align">Medical Issue</label>
  <input type="text" id="" placeholder="any medical issues so far">
  <!--<address>not mandatory</address>-->

  <label for="" class="t-align">Other Remarks</label>
  <input type="text" id="" placeholder="any other remarks">
  <!--<address>not mandatory</address>-->
<h3 id="ctc">Consolidation Pay</h3>
  <label for="" class="t-align">CTC Per Annum:</label>
  <input type="text" id="" placeholder="">

  <label for="" class="t-align">Per Month:</label>
  <input type="text" id="" placeholder="">

  <h3 id="ctc">Scale Of Pay</h3>
  <label for="" class="t-align">Basic:</label>
  <input type="text" id="" placeholder="">

  <label for="" class="t-align">Hra:</label>
  <input type="text" id="" placeholder="">

  <label for="" class="t-align">Da:</label>
  <input type="text" id="" placeholder="">

  <label for="" class="t-align">CTC AM:</label>
  <input type="text" id="" placeholder="">

  <label for="" class="t-align">Load:</label>
  <input type="text" id="" placeholder=""><br>

  <label for="" class="t-align">Pt:</label><br>
  <input type="text" id="" placeholder=""><br>

  <label for="" class="t-align">It:</label><br>
  <input type="text" id="" placeholder="">

  <label for="" class="t-align">Other:</label>
  <input type="text" id="" placeholder="">
  
  <label for="" class="t-align">Total Salary:</label>
  <input type="text" id="" placeholder="">

  <label for="" class="t-align">Net Salary:</label>
  <input type="text" id="" placeholder="">

</div>

<button id="add">ADD</button>
