.bg-img{
  //background: #80ffd4;
  background-image: linear-gradient(#99ddff,#e6e6e6);

}

#ctc{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  margin-top: 20px;
}

.ma{
  //border-style: solid;
  border-radius: 12px;
  margin-top: 60px;
  margin-left: 450px;
  width: 500px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Cp{
  //border-style: solid;
  border-radius: 12px;
  margin-top: 60px;
  margin-left: 450px;
  width: 500px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Cd{
  //border-style: solid;
  border-radius: 12px;
  margin-top: 60px;
  margin-left: 450px;
  width: 500px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#continue{

  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 30px 300px 30px 550px;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;

}

label{
  margin-left: 20px;
}

input[type=text],input[type=password], input[type=email]{
  width: 30%;
  padding: 15px;
  margin: 27px  27px ;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
  }
.md{
    font-size: 10px;
}   



























  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .topnav {
    overflow: hidden;
    background-color: #4d94ff;
    opacity: 0;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #595959;
    color: white;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }