<meta content="width=device-width>">
<form class="bg-img">

<div class="topnav"> 
        <a routerLink="/register">Register</a>  
        <a routerLink="">Login</a>   
</div>
      









<div class="ma">
        <br><br> <h3 id="ctc">SIGN UP</h3>
        <!--<label for="companyname" class="t-align">Company Name:</label>--> 
        <input type="text" id="companyname" placeholder="Company Name">
        
         <!--<br> <label for="registerid" class="t-align">Register ID:</label>-->
        <input type="text" id="registerid" placeholder="Register ID">
        
         <!--<label for="companyid" class="t-align">Company ID:</label>-->
        <input type="text" id="companyid" placeholder="Company ID">
        
         <!--<label for="tan" class="t-align">TAN:</label>-->
        <input type="text" id="tan" placeholder="TAN">
        
         <!--<label for="pan" class="t-align">PAN:</label>-->
        <input type="text" id="pan" placeholder="PAN">
        
         <!--<label for="gst" class="t-align">GST:</label>-->
        <input type="text" id="gst" placeholder="GST">
        
         <!--<label for="password" class="t-align">Password:</label>-->
        <input type="password" id="password" placeholder="Password">
        <!--<address>More than 8 characters</address>-->
        
         <!--<label for="address" class="t-align">Address:</label>-->
        <input type="text" id="address" placeholder="Address">
        
         <!--<label for="pincode" class="t-align">Pincode:</label>-->
        <input type="text" id="pincode" placeholder="Pincode">
        
        <!--<label for="state" class="t-align">State:</label>-->
        <input type="text" id="state" placeholder="State">
        
        <!--<label for="country" class="t-align">Country:</label>-->
        <input type="text" id="country" placeholder="Country">
        
        <!--<label for="contact" class="t-align">Contact:</label>-->
        <input type="text" id="contact" placeholder="Contact">
        
        <!--<label for="landline" class="t-align">Landline:</label>-->
        <input type="text" id="landline" placeholder="Landline">
</div>
<div class="Cd">
        <br><br> <h3 id="ctc">CONTACT DETAILS<!--<p class="md">(Managing Director / Director / Owner)</p>--></h3>
        <!--<address>(Managing Director / Director / Owner)</address>-->
        <!--<label for="name" class="t-align">Name:</label>-->
        <input type="text" id="name" placeholder="Name">
        
        <!--<label for="designation" class="t-align">Designation:</label>-->
        <input type="text" id="designation" placeholder="Designation">
        
        <!--<label for="address" class="t-align">Address:</label>-->
        <input type="text" id="address" placeholder="Address">
        
        <!--<label for="mobno" class="t-align">Mobile Number:</label>-->
        <input type="text" id="mobno" placeholder="Mobile Number">
        
        <!--<label for="email" class="t-align">Email:</label>-->
        <input type="email" id="email" placeholder="E-Mail">
        <!--<address>enter ur address</address>-->
</div>
<div class="Cp">
        <br><br> <h3 id="ctc">CONTACT PERSON<!--<p class="md">(Managing Director / Director / Owner)</p>--></h3>
        <!--<address>(HR / Admin)</address>-->
        <!--<label for="name" class="t-align">Name:</label>-->
        <input type="text" id="name" placeholder="Name">
        
        <!--<label for="designation" class="t-align">Designation:</label>-->
        <input type="text" id="designation" placeholder="Designation">
        
        <!--<label for="address" class="t-align">Address:</label>-->
        <input type="text" id="address" placeholder="Address">
        
        <!--<label for="mobno" class="t-align">Mobile Number:</label>-->
        <input type="text" id="mobno" placeholder="Mobile Number">
        
        <!--<label for="email" class="t-align">Email:</label>-->
        <input type="email" id="email" placeholder="E-Mail">
        <!--<address>enter ur address</address>-->

</div>
<button id="continue" (click)="onselect()">Continue</button>
</form>